<div>
    <strong>This is the collapsible content right here!</strong>
    <div>
        This is the collapsible content right here!
        This is the collapsible content right here!
        This is the collapsible content right here!
        This is the collapsible content right here!
        This is the collapsible content right here!
        This is the collapsible content right here!
        This is the collapsible content right here!
        This is the collapsible content right here!
        This is the collapsible content right here!
    </div>
</div>

<script>
    console.log('foo');
</script>
